#article b {
  font-weight: lighter;
}
#article img {
  width: 100%;
}
#article em {
  font-size: 14px;
  margin-bottom: 5px;
}
#article div:not(#bookmark-pointer) {
  border-width: 0px 0px 0px 5px;
  border-style: solid;
  /* font-size: 17px; */
  padding: 4px 10px 4px 15px;
  margin: 15px 0px;
}
#article strong {
  font-family: var(--main-font-2-1);
  font-weight: lighter;
}
#article #highlight-pointer {
  background-color: var(--main-col-2);
  color: white;
}
#article span:not(#highlight-pointer) {
  text-decoration: underline;
  text-underline-position: under;
}
#article span:not(#highlight-pointer):hover {
  cursor: pointer;
  color: var(--main-col-1);
  font-family: var(--main-font-3);
}
