#article img {
  width: 100%;
}
#article em {
  display: flex;
  justify-content: center;
  font-size: 14px;
}
#article div {
  border-width: 0px 0px 0px 5px;
  border-style: solid;
  font-size: 17px;
  padding: 4px 10px 4px 15px;
  margin: 17px 0px;
}
