#article img {
  width: 100%;
}
#article em {
  display: flex;
  justify-content: center;
}
#article div {
  border-width: 0px 0px 0px 5px;
  border-style: solid;
  font-size: 18px;
  padding: 5px 10px 5px 15px;
  margin: 15px 0px;
}
