.v-text-field--rounded > .v-input__control > .v-input__slot {
  padding: 0px 10px 0px 17px !important;
}
.v-text-field--outlined.v-input--dense.v-text-field--outlined
  > .v-input__control
  > .v-input__slot {
  min-height: 30px !important;
  height: 35px !important;
}
.v-text-field--enclosed.v-input--dense:not(
    .v-text-field--solo
  ).v-text-field--outlined
  .v-input__append-inner {
  margin-top: 5px !important;
}
#memo-register .v-text-field > .v-input__control > .v-input__slot:before {
  border-style: none !important;
}
.v-textarea textarea {
  line-height: 1.4rem !important;
  font-size: 15px !important;
}
.v-tabs:not(.v-tabs--vertical):not(.v-tabs--right)
  > .v-slide-group--is-overflowing.v-tabs-bar--is-mobile:not(
    .v-slide-group--has-affixes
  )
  .v-slide-group__prev {
  display: none !important;
}
#profile .v-progress-linear__determinate {
  background: linear-gradient(
    to right,
    var(--main-col-1),
    var(--main-col-4)
  ) !important;
}
.quiz .v-btn__content {
  white-space: initial !important;
  display: block !important;
  flex: 0 1 auto;
}
.memo .v-expansion-panel-header,
.v-expansion-panel-content__wrap {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.memo .v-expansion-panel-header--active {
  font-family: var(--main-font-3);
  color: var(--main-col-1);
}
.v-expansion-panel-header {
  line-height: 1.2 !important;
}
#home-header .v-tab {
  /* text-transform: none !important; */
  font-family: var(--main-font-2) !important;
  letter-spacing: 0em;
  font-size: 1.02rem;
}
#home-header .v-tab--active.v-tab {
  font-family: var(--main-font-3) !important;
}
.v-dialog {
  box-shadow: none !important;
}
.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)
  > .v-input__control
  > .v-input__slot {
  box-shadow: 0px 0px 4px 0px lightgray !important;
}
.menu .v-tab {
  font-size: 15px !important;
  font-family: var(--main-font-1-1);
  color: var(--main-col-1) !important;
  /* padding: 0 15px; */
  min-width: 0px;
}
.menu .v-tab.v-tab--active.selected-category {
  font-family: var(--main-font-3);
}
.menu .v-tabs-slider-wrapper {
  height: 3px !important;
  color: var(--main-col-1) !important;
}
#list-select .v-text-field fieldset,
.v-text-field .v-input__control {
  color: var(--main-col-1) !important;
}
#list-select .theme--light.v-icon {
  color: var(--main-col-1) !important;
}
#list-select .theme--light.v-select .v-select__selections {
  color: var(--main-col-1) !important;
}
#news-content .v-btn:not(.v-btn--round).v-size--small {
  min-width: 40px;
}
