.v-text-field--rounded > .v-input__control > .v-input__slot {
  padding: 0px 10px 0px 17px !important;
}
.v-text-field--outlined.v-input--dense.v-text-field--outlined
  > .v-input__control
  > .v-input__slot {
  min-height: 30px !important;
  height: 35px !important;
}
.v-text-field--enclosed.v-input--dense:not(
    .v-text-field--solo
  ).v-text-field--outlined
  .v-input__append-inner {
  margin-top: 5px !important;
}
#memo-register .v-text-field > .v-input__control > .v-input__slot:before {
  border-style: none !important;
}
.v-textarea textarea {
  line-height: 1.4rem !important;
  font-size: 15px !important;
}
.v-tabs:not(.v-tabs--vertical):not(.v-tabs--right)
  > .v-slide-group--is-overflowing.v-tabs-bar--is-mobile:not(
    .v-slide-group--has-affixes
  )
  .v-slide-group__prev {
  display: none !important;
}
#profile .v-progress-linear__determinate {
  background: linear-gradient(
    to right,
    var(--main-col-1),
    var(--main-col-4)
  ) !important;
}
.quiz .v-btn__content {
  white-space: initial !important;
  display: block !important;
  flex: 0 1 auto;
}
.memo .v-expansion-panel-header,
.v-expansion-panel-content__wrap {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.memo .v-expansion-panel-header--active {
  font-family: var(--main-font-3);
  color: var(--main-col-1);
}
.v-expansion-panel-header {
  line-height: 1.2 !important;
}
.v-dialog {
  box-shadow: none !important;
}
