* {
  -ms-user-select: auto;
  -moz-user-select: -moz-auto;
  -khtml-user-select: auto;
  -webkit-user-select: auto;
  user-select: auto;
}
/* #article {
  -ms-user-select: text;
  -moz-user-select: -moz-text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  user-select: text;
}
#article span {
  -ms-user-select: text;
  -moz-user-select: -moz-text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  user-select: text;
} */
#article::-moz-selection {
  color: white;
  background: var(--main-col-3);
}
#article::selection {
  color: white;
  background: var(--main-col-3);
}
#article span::selection {
  color: white;
  background: var(--main-col-3);
}
#article span::-moz-selection {
  color: white;
  background: var(--main-col-3);
}
