.border-left {
  border-width: 0px 0px 0px 3px;
  border-style: solid;
  color: var(--main-col-2);
}
.border-left-bg {
  border-width: 0px 0px 0px 5px;
  border-style: solid;
  font-size: 18px;
}
.pointer {
  cursor: pointer;
}
.blue-shadow {
  box-shadow: 0px 0px 8px 0px lightgrey !important;
}
.white-shadow {
  box-shadow: 0px 0px 8px 0px white !important;
}
.gradient {
  background: linear-gradient(
    180deg,
    var(--quiz-1-col-1),
    var(--quiz-1-col-3),
    var(--quiz-1-col-6)
  );
}
.gradient-2 {
  background: linear-gradient(
    270deg,
    var(--graph-1-col-1),
    var(--graph-1-col-3),
    var(--graph-1-col-6)
  );
}
