#relation-article {
  position: relative;
}
#relation-article img {
  object-fit: cover;
}
#relation-article .swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: 0px !important;
  width: auto !important;
  right: 0px !important;
  text-align: right !important;
}
#relation-article h3 {
  position: absolute;
  top: 25px !important;
}
#relation-article .swiper-pagination-bullet-active {
  width: 25px !important;
  background: var(--main-col-2);
}
#relation-article .swiper-pagination-bullet {
  border-radius: 0% !important;
}

.swiper-menu button {
  background-color: white !important;
  color: var(--main-col-1) !important;
  border: 1px solid var(--main-col-1);
}
.swiper-menu button.swiper-button-disabled {
  background-color: var(--main-col-1) !important;
  color: var(--main-col-5) !important;
  box-shadow: 0px 0px 5px 0.5px lightgrey !important;
}
