/* 폰트 크기 */
.xxs-font {
  font-size: 10px;
}
.xs-font {
  font-size: 12px;
}
.sm-font {
  font-size: 14px;
}
.md-font {
  font-size: 15px;
}
.lg-font {
  font-size: 18px;
}
.xl-font {
  font-size: 20px;
}
.xxl-font {
  font-size: 22px;
}
.xxxl-font {
  font-size: 24px;
}
.xxxxl-font {
  font-size: 26px;
}
.x-big-large-font {
  font-size: 34px;
}
/* 폰트 색상 */
.main-col-1 {
  color: var(--main-col-1);
}
.main-col-2 {
  color: var(--main-col-2);
}
.main-col-3 {
  color: var(--main-col-3);
}
.main-col-4 {
  color: var(--main-col-4);
}
.main-col-5 {
  color: var(--main-col-5);
}
.error-col-5 {
  color: var(--error-col-1);
}
.black-col-1 {
  color: black !important;
}
.white-col-1 {
  color: white !important;
}
/* 폰트 굵기 */
.th-font {
  font-family: var(--main-font-0);
}
.th-ex-font {
  font-family: var(--main-font-1);
}
.lt-font {
  font-family: var(--main-font-1-1);
}
.md-font {
  font-family: var(--main-font-2-1);
}
.b-sm-font {
  font-family: var(--main-font-2-2);
}
.b-font {
  font-family: var(--main-font-3);
}
.b-ex-font {
  font-family: var(--main-font-4);
}
.black-font {
  font-family: var(--main-font-5);
}
/* 폰트 변경 */
.point-th {
  font-family: var(--point-font-1);
}
.point-md {
  font-family: var(--point-font-2);
}
.point-b {
  font-family: var(--point-font-3);
}
.logo-th {
  font-family: var(--logo-font-1);
}
.logo-b {
  font-family: var(--logo-font-2);
}
/* 폰트 스타일 */
.underline {
  text-decoration: underline;
}
.italic {
  font-style: italic;
}
/* 줄 너비 */
.narrow {
  line-height: 1.1;
}
/* 기타 */
.spacing-all {
  word-break: break-all;
}
.main-title-font {
  font-size: 20px;
  font-family: var(--main-font-3);
}
.main-subtitle-font {
  font-size: 12px;
  font-family: var(--main-font-2);
  color: grey;
}
.white-shadow {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.blue-gredient {
  background: linear-gradient(
    to right,
    var(--graph-1-col-1),
    var(--graph-1-col-6)
  );
  color: transparent;
  -webkit-background-clip: text;
}
.pink-gradient {
  filter: drop-shadow(0px 0px 5px var(--main-col-1));
}

.login-gradient {
  filter: drop-shadow(0px 0px 5px var(--graph-1-col-4));
}
